.edit-profile-container {
    display: flex;
    align-items: flex-start;
    height: 700px;
    overflow:auto;
}

.edit-profile-container form textarea {
    height: 200px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Disable text box resizing */
    font-family: Arial, sans-serif; /* Use a clear and readable font */
    font-size: 14px; /* Adjust the font size as desired */
    line-height: 2; /* Improve line height for better readability */
  }
  
  .edit-profile-container form {
    margin-left: 20px;
  }
  
  .edit-profile-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .edit-profile-container form input {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-profile-container form .submitButton {
    padding: 10px 20px;
    background-color: #2200aa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-profile-container form .submitButton:hover {
    background-color: #4025a9;
  }
  
