.profile-container {
  margin-top: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.profile-info {
  margin-left: 20px;
  text-align: center;
}

.profile-info h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.profile-info h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

.profile-info p {
  margin-bottom: 8px;
}

.edit-profile-button,
.message-button {
  background-color: #3f00ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-profile-button:hover,
.message-button:hover {
  background-color: #2200aa;
}







