.profile-container {
  display: flex;
  align-items: flex-start;
  height: 750px;
  overflow:auto;
}

.profile-content {
  width: 100%; /* Ensure the content takes up the full width */
}

.profile-info {
  margin-left: 20px;
}

.profile-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: small;
}

.profile-info strong {
  font-weight: bold;
}

.profile-info .name {
  margin-top: 20px;
}

.profile-info .pronouns {
  margin-top: 10px;
}

.profile-info .aboutSection {
  margin-top: 10px;
  white-space: pre-line;
}

.aboutSection{
  margin-bottom: 10px; /* Add spacing between paragraphs */
  
}

.profile-info button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2200aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-info button:hover {
  background-color: #4025a9;
}

.profile-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}