 /* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* Global Styles */
  body {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    background-color: white;
    cursor: url('./assets/PLEXI.png'), auto;
  }
  
  .container {
    margin: 20px;
  }
  
  /* Media Query for Phones and Tablets */
  @media (max-width: 767px) {
    body {
      font-size: 10px;
    }
  }
/*   
  Max-width for Standard Screens */
  @media (min-width: 768px) {
    .container {
      max-width: 1200px;
    }
  }
  
  /* Additional Styles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Aristotelica Pro', sans-serif;
    color: black;
  } 

  h1{
    font-size: larger;
    font-weight: bold;
  }

  h2{
    font-size: medium;
    font-weight: bold;
  }

  .custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    width: 100px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
  }

    /* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}

/* Styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #2200aa7a; /* Set the color of the thumb */
  border-radius: 2px; /* Add rounded corners to the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4025a955; /* Change the color on hover */
}
